<template>
  <img id="album" :class="classes" :src="albumImgSrc" @load="setActive()" />
</template>
<script lang="ts">
import { SpotifyModule } from "@/store";
import { Options, Vue } from "vue-class-component";

@Options({
  watch: {
    trackId() {
      this.onTrackUpdate();
    },
  },
})
export default class Album extends Vue {
  classes = { active: false };
  albumImgSrc = "";

  mounted(): void {
    this.onTrackUpdate();
  }

  private onTrackUpdate() {
    this.classes.active = false;
    setTimeout(() => {
      this.albumImgSrc = SpotifyModule.track.albumImgSrc ?? "";
    }, 450);
  }

  private setActive() {
    this.classes.active = this.albumImgSrc !== "";
  }

  private get trackId(): string | undefined {
    return SpotifyModule.track.id;
  }
}
</script>
<style scoped>
img {
  width: 70px;
  height: 70px;
  transition: opacity 0.4s ease;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
img.active {
  opacity: 1;
}
</style>
