<template>
  <div class="artists">
    <h4 id="artists-text" :class="classes">
      {{ artistsName }}
    </h4>
  </div>
</template>
<script lang="ts">
import { SpotifyModule } from "@/store";
import { Options } from "vue-class-component";
import { Vue } from "vue-class-component";

@Options({
  watch: {
    trackId() {
      this.onTrackUpdate();
    },
  },
})
export default class Artists extends Vue {
  classes = {
    drop: false,
    active: false,
    scrolling: false,
  };
  artists: string[] = [];

  element!: HTMLHeadingElement;

  mounted(): void {
    this.element = document.getElementById(
      "artists-text"
    ) as HTMLHeadingElement;
    this.onTrackUpdate();
  }

  private onTrackUpdate() {
    this.classes.active = false;

    setTimeout(() => {
      this.artists = SpotifyModule.track.artists ?? [];
      if (this.artists === []) {
        return;
      }
      this.$nextTick(() => {
        this.classes.scrolling = false;
        this.$nextTick(() => {
          this.classes.active = true;
        });
      });
      setTimeout(() => {
        this.classes.scrolling = this.element.offsetWidth > 270;
      }, 2000);
    }, 550);
  }

  private get trackId(): string | undefined {
    return SpotifyModule.track.id;
  }

  private get artistsName(): string {
    return this.artists?.join(", ") ?? "";
  }
}
</script>
<style scoped>
.artists {
  min-height: 20px;
}
#artists-text {
  color: #25cba3;
  font-weight: 600;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
}
h4 {
  opacity: 0;
  white-space: nowrap;
  padding-left: 10px;
  transform: translateX(-50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: inline-block;
}
h4.active {
  opacity: 1;
  transform: translateX(0);
}
h4.drop {
  transform: translateY(100px);
}
h4.scrolling {
  /* -webkit-animation: slide 30s linear infinite; */
  position: absolute;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  from {
    /* left: 100%; */
    transform: translateX(100%);
  }
  to {
    /* left: -100%; */
    transform: translateX(-100%);
  }
}
</style>
