<template>
  <div id="container" :class="classes">
    <div class="cover">
      <Album />
    </div>
    <div class="main">
      <Artists />
      <Song />
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Album from "./Album.vue";
import Song from "./Song.vue";
import { SpotifyModule } from "@/store";
import Artists from "./Artists.vue";

@Options({
  components: { Album, Song, Artists },
  watch: {
    trackId() {
      this.onTrackUpdate();
    },
  },
})
export default class Container extends Vue {
  classes = {
    raise: false,
    active: false,
  };

  mounted(): void {
    this.onTrackUpdate();
  }

  private async onTrackUpdate() {
    if (
      SpotifyModule.track.id &&
      !SpotifyModule.hasError &&
      !this.classes.active
    ) {
      this.classes.raise = true;
      setTimeout(() => {
        this.classes.active = true;
      }, 550);
    } else if (
      (!SpotifyModule.track.id || SpotifyModule.hasError) &&
      this.classes.active
    ) {
      this.classes.active = false;
      setTimeout(() => {
        this.classes.raise = false;
      }, 550);
    }

    await this.$nextTick();
  }

  private get trackId(): string | undefined {
    return SpotifyModule.track.id;
  }
}
</script>
<style scoped>
#container {
  width: 70px;
  height: 70px;
  position: relative;
  background: #1b1d20;
  margin: auto;
  transition: opacity 0.4s ease, transform 0.4s ease, width 0.4s ease;
  opacity: 0;
  transform: translateY(300px);
}
#container.raise {
  opacity: 1;
  transform: translateY(0);
}
#container.active {
  width: 350px;
}
.cover {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 9;
}
.main {
  position: absolute;
  padding-left: 70px;
  padding-top: 10px;
  top: 0;
  height: 70px;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
}
</style>
