<template>
  <h2 id="song-text" :class="classes">{{ songName }}</h2>
</template>
<script lang="ts">
import { SpotifyModule } from "@/store";
import { Options, Vue } from "vue-class-component";

@Options({
  watch: {
    trackId() {
      this.onTrackUpdate();
    },
  },
})
export default class Song extends Vue {
  classes = {
    drop: false,
    active: false,
    scrolling: false,
  };
  songName = "";

  element!: HTMLHeadingElement;

  mounted(): void {
    this.element = document.getElementById("song-text") as HTMLHeadingElement;

    this.onTrackUpdate();
  }

  private async onTrackUpdate() {
    setTimeout(() => {
      this.classes.active = false;
    });
    setTimeout(() => {
      this.songName = SpotifyModule.track.name ?? "";
      if (this.songName === "") {
        return;
      }

      this.$nextTick(() => {
        this.classes.scrolling = false;
        this.$nextTick(() => {
          this.classes.active = true;
        });
      });
      setTimeout(() => {
        this.classes.scrolling = this.element.offsetWidth > 270;
      }, 2000);
    });
  }

  private get trackId(): string | undefined {
    return SpotifyModule.track.id;
  }
}
</script>
<style scoped>
#song-text {
  color: #fff;
  margin: 4px 0 0;
  font-size: 24px;
}
h2 {
  opacity: 0;
  white-space: nowrap;
  padding-left: 10px;
  transform: translateX(-50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: inline-block;
}
h2.active {
  opacity: 1;
  transform: translateX(0);
}
h2.drop {
  transform: translateY(100px);
}
h2.scrolling {
  /* -webkit-animation: slide 30s linear infinite; */
  position: absolute;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  from {
    /* left: 100%; */
    transform: translateX(100%);
  }
  to {
    /* left: -100%; */
    transform: translateX(-100%);
  }
}
</style>
