<template>
  <div class="callback">
    <div v-if="id && !error">
      Redirecting to Now Playing page for {{ id }}...
    </div>
    <div v-else-if="!error" style="padding 1%;">
      <p>Authorizing...</p>
      <i class="pi pi-spin pi-spinner"></i>
    </div>
    <div v-else>Error authorizing application!</div>
  </div>
</template>
<script lang="ts">
import { api } from "@/api";
import { Vue } from "vue-class-component";
import { VueCookieNext } from "vue-cookie-next";

export default class Callback extends Vue {
  id = "";
  error = false;

  mounted(): void {
    let code = this.$route.query.code?.toString();
    if (code) {
      api
        .postCallback(code)
        .then((id) => {
          this.id = id;
          VueCookieNext.setCookie("id", id);
          this.$router.push(`/`);
        })
        .catch(() => {
          this.error = true;
        });
      return;
    }

    this.error = true;
  }
}
</script>
<style scoped>
.callback {
  text-align: center;
}
</style>
