<template>
  <ScrollPanel style="width: 100%">
    <div class="grid">
      <div class="col">
        <div class="flex align-items-center justify-content-center">
          <Card class="home-card">
            <template #title> Hello! </template>
            <template #content>
              This is a tool to overlay your currently playing Spotify track
              info on your stream, VOD, or other media. To get started, please
              link your Spotify account. Note that we only request playback data
              (for obvious reasons) and user data (so we can link you to the
              widget).
              <Divider />
              Thanks to
              <a href="https://spotify.aidenwallis.co.uk/">Aiden Wallis'</a>
              widget for the inspiration for this.
            </template>
            <template #footer>
              <Button
                :label="buttonLabel"
                :icon="buttonIcon"
                @click="spotifyButtonClick()"
              />
            </template>
          </Card>
        </div>
        <div class="flex align-items-center justify-content-center">
          <Card class="home-card">
            <template #title>
              <i style="padding: 1%" class="pi pi-exclamation-triangle"></i>
              <strong>Warning!</strong>
              <i style="padding: 1%" class="pi pi-exclamation-triangle"></i>
            </template>
            <template #content>
              <strong>
                I assume absolutely NO responsibility for any action Twitch,
                Youtube, Spotify, YOU, or any other parties take for any
                unauthorized use of intellectual and/or musical property. You
                absolutely should NOT use this widget without full understanding
                of the permissions you hold with Spotify and/or any other party
                involved in your use of this tool.
              </strong>
            </template>
          </Card>
        </div>
        <div
          v-if="loggedIn"
          class="flex align-items-center justify-content-center"
        >
          <Card class="home-card">
            <template #title> Widget Links </template>
            <template #content>
              Text only (for bot commands):
              <a :href="textLink" target="_blank" rel="noopener noreferrer">
                <code>{{ textLink }}</code>
              </a>
              <Divider />
              Widget (used as OBS source, for example):
              <a :href="widgetLink" target="_blank" rel="noopener noreferrer">
                <code>{{ widgetLink }}</code>
              </a>
            </template>
          </Card>
        </div>
      </div>
    </div>
  </ScrollPanel>
</template>

<script lang="ts">
import { api } from "@/api";
import { Options, Vue } from "vue-class-component";
import Button from "primevue/button";
import Card from "primevue/card";
import ScrollPanel from "primevue/scrollpanel";
import Divider from "primevue/divider";
import { VueCookieNext } from "vue-cookie-next";

@Options({
  components: {
    Button,
    Card,
    ScrollPanel,
    Divider,
  },
})
export default class Home extends Vue {
  loginUrl!: string;

  buttonIcon = "pi pi-spin pi-spinner";
  buttonLabel = "";

  async mounted(): Promise<void> {
    this.loginUrl = await api.getLoginUrl();
    this.buttonIcon = "";
    if (this.loggedIn) {
      this.buttonLabel = "Logout from Spotify";
    } else {
      this.buttonLabel = "Login with Spotify";
    }
  }

  private async spotifyButtonClick(): Promise<void> {
    if (this.loggedIn) {
      await api.postLogout(this.id);
      VueCookieNext.removeCookie("id");
      this.$router.go(0);
    } else {
      window.location.replace(this.loginUrl);
    }
  }

  private get loggedIn(): boolean {
    return VueCookieNext.isCookieAvailable("id");
  }

  private get id(): string {
    return this.loggedIn ? VueCookieNext.getCookie("id") : null;
  }

  private get baseUrl(): string {
    return location.href;
  }

  private get textLink(): string {
    return this.baseUrl + "api/nowplaying/text/" + this.id;
  }

  private get widgetLink(): string {
    return this.baseUrl + "widget/" + this.id;
  }
}
</script>

<style>
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
<style scoped>
.home {
  text-align: left;
}

.home-card {
  padding: 1%;
  margin: 1%;
  width: 50%;
  min-width: 320px;
  text-align: left;
}

.nested-card {
  width: 100%;
}
</style>
