<template>
  <div v-if="!hasError">
    <div class="now-playing">
      <Container />
    </div>
  </div>
  <div class="error" v-else>
    {{ errorText }}
    <div v-if="isAuthError">
      <Divider />
      To authorize, please click <a href="/">here</a>.
    </div>
  </div>
</template>
<script lang="ts">
import Container from "@/components/Container.vue";
import { SpotifyModule } from "@/store";
import Divider from "primevue/divider";
import { Options, Vue } from "vue-class-component";

@Options({
  components: {
    Container,
    Divider,
  },
})
export default class NowPlaying2 extends Vue {
  mounted(): void {
    SpotifyModule.activateTimer(this.$route.params.id as string);
  }

  private get errorText(): string {
    return SpotifyModule.text;
  }

  private get hasError(): boolean {
    return SpotifyModule.hasError;
  }

  private get isAuthError(): boolean {
    return SpotifyModule.errorCode === 401;
  }
}
</script>
<style>
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  font-family: "Metropolis", sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
</style>
<style scoped>
.now-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.error {
  text-align: center;
}
</style>
